:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.main-content {
  display: flex;
  flex: 1;
  overflow: hidden;
}

app-toolbar {
  flex-shrink: 0;
}

.pdf-viewer {
  flex: 1;
  overflow: hidden;
}

.right-sidebar {
  flex-shrink: 0;
}
