<app-left-sidebar
  [ngClass]="{ 'sidebar-collapsed': !leftSidebarVisible }"
  (sidebarVisibilityChanged)="handleSidebarVisibilityChange('left', $event)"
></app-left-sidebar>

<app-pdf-viewer class="pdf-viewer"></app-pdf-viewer>
<!-- Updated -->

<app-right-sidebar class="right-sidebar"></app-right-sidebar>
<!-- Updated -->

<!-- <app-right-sidebar
  class="right-sidebar"
  [ngClass]="{ 'sidebar-collapsed': !rightSidebarVisible }"
  (sidebarVisibilityChanged)="handleSidebarVisibilityChange('right', $event)"
></app-right-sidebar> <!-- Updated -->
-->
